body {
    background-color: tan;
    font-family: Roboto;
    color: antiquewhite;
}

h1{
    text-align: center;
}
.addform{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 30px;
}
p{
    margin: 0;
}
input{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}
button{
    padding: 10px 15px;
    border: 1px solid
}
#cols{
    display: flex;
    flex-direction: column;
    align-items: center;
}