body{
    margin: 0 auto;
}
h1,h2{
    text-align: center;
}

create-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 0 solid black;
    border-radius: 10px;
    width: 300px;
    height: auto;
    background-color: antiquewhite;
}
input{
    border: 0 solid black;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
}
button{
    border: 0 solid black;
    background-color: aliceblue;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.notes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.mote-wrap{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 1200px;
    min-height: 550px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.note{
    background-color: aliceblue;
    width: 300px;
    margin: 20px 0 20px 0;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;

}
ul{
    margin: 10px auto;
    padding: 0;
    width: 200px;
    border-radius: 10px;
    list-style-type: none;
    background-color: antiquewhite;
}
.note-name{
    margin: 0 auto 20px auto;
    padding: 10px 0 10px 0;
}

.tasks{
    display: flex;
    list-style-type: disc;
    align-items: center;
    justify-content: center;
    margin: -10px;
}

.tasks-2{
    display: flex;
    list-style-type: disc;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    margin: -10px;
}

.checkbox{
    opacity: 0;
    margin-left: -118px;
    margin-right: -88px;
}

.notes-li{
    background-color: aliceblue;
}

.textDecoration{
    text-decoration: line-through;
}

